.Yellow {
  background-color: yellow;
}
.Blue {
  background-color: blue;
  color: white;
}
.Red {
  background-color: red;
  color: white;
}
.Violet {
  background-color: violet;
  color: white;
}
.Brown {
  background-color: brown;
  color: white;
}
.Green {
  background-color: green;
  color: white;
}
