.basic_yellow {
  background-image: url('../images/yellow.jpeg');
  background-size: 100%;
}
.basic_red {
  background-image: url('../images/red.jpeg');
  background-size: 100%;
}
.basic_blue {
  background-image: url('../images/blue.jpeg');
  background-size: 100%;
}
.basic_green {
  background-image: url('../images/green.jpeg');
  background-size: 100%;
}
.basic_brown {
  background-image: url('../images/brown.jpeg');
  background-size: 100%;
}
.basic_violet {
  background-image: url('../images/violet.jpeg');
  background-size: 100%;
}
.skull_normal {
  background-image: url('../images/skull.jpeg');
  background-size: 100%;
}
.skull_rock {
  background-image: url('../images/rock_skull.jpeg');
  background-size: 100%;
}
.block {
  background-image: url(../images/block.jpeg);
  background-size: 100%;
}
.gargoyle {
  background-image: url(../images/garg_good.jpeg);
  background-size: 100%;
}
.great_yellow {
  background-image: url('../images/great_yellow.jpeg');
  background-size: 100%;
}
.great_red {
  background-image: url('../images/great_red.jpeg');
  background-size: 100%;
}
.great_blue {
  background-image: url('../images/great_blue.jpeg');
  background-size: 100%;
}
.great_green {
  background-image: url('../images/great_green.jpeg');
  background-size: 100%;
}
.great_brown {
  background-image: url('../images/great_brown.jpeg');
  background-size: 100%;
}
.great_violet {
  background-image: url('../images/great_violet.jpeg');
  background-size: 100%;
}

